In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
pd.set_option('display.max_columns', None) #Mostrar todas las columnas

In [11]:
datos = pd.read_csv(r"C:\Users\hassg\OneDrive\Documents\GitHub\Trabajo_Visualizacion\datos.csv",
                   sep =";",
                   index_col = False,
                   error_bad_lines=False)

In [12]:
datos.head()

,ID,TARGET,CONTRACT_TYPE,SEX,OWN_REALTY,CHILDREN,INCOME,CREDIT,INCOME_TYPE,EDUCATION_TYPE,FAMILY_STATUS,HOUSING_TYPE,BIRTH,EMPLOYED,EMP_PHONE,CONT_MOBILE,EMAIL,OCCUPATION_TYPE,WEEKDAY,REG_REGION_NOT_LIVE_REGION,DEF_30_CNT,DEF_60_CNT,DAYS_LAST_PHONE_CHANGE,CREDIT_BUREAU_3meses
0,100002,1,Cash loans,M,1,0,202500,406598,Working,Secondary / secondary special,Single / not married,House / apartment,26,2,1,1,0,Laborers,WEDNESDAY,0,2.0,2.0,-1134.0,0.0
1,100003,0,Cash loans,F,0,0,270000,1293503,State servant,Higher education,Married,House / apartment,46,3,1,1,0,Core staff,MONDAY,0,0.0,0.0,-828.0,0.0
2,100004,0,Revolving loans,M,1,0,67500,135000,Working,Secondary / secondary special,Single / not married,House / apartment,52,1,1,1,0,Laborers,MONDAY,0,0.0,0.0,-815.0,0.0
3,100006,0,Cash loans,F,1,0,135000,312683,Working,Secondary / secondary special,Civil marriage,House / apartment,52,8,1,1,0,Laborers,WEDNESDAY,0,0.0,0.0,-617.0,NaN
4,100007,0,Cash loans,M,1,0,121500,513000,Working,Secondary / secondary special,Single / not married,House / apartment,55,8,1,1,0,Core staff,THURSDAY,0,0.0,0.0,-1106.0,0.0